body  {
    background: rgb(92, 54, 209);
    background: linear-gradient(0deg, rgb(31, 108, 223) 0%, rgb(138, 35, 223) 100%);
    font-family: 'Quicksand', sans-serif;
    background-attachment: fixed;
}

#title {
    margin-top: 9em;
    margin-bottom: 6em;
}

@keyframes fadeIn {
    0% {
        transform: translateY(20%);
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 1
    }
}

#content {
    margin-bottom: 6em;
    box-shadow: 0 0.5rem 5rem rgba(0,0,0,0.6)!important;
    animation: 1s ease-out 0s 1 fadeIn;
}

.navbar-nav {
    margin-left: auto !important

}

.navbar-dark .navbar-nav .nav-link  {
    color: white;
    font-size: 18px;
    transition: 0.3s ease-in;
}

.navbar {
    padding-left: 14em;
    padding-right: 14em;
    transition: 0.3s ease-in;
}

.navbar-brand {
    font-size: 30px;
    transition: 0.3s ease-in;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.title {
    margin-top: 0.5em
}

.hover-shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    transition: box-shadow 0.15s ease-in-out
}

.hover-shadow:hover {
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.25)!important;
}

a.card-link {
    color: black;
}

code {
    padding-left: 2em !important;
    background-color: transparent !important
}

.code-block {
    margin-bottom: 2em;
    background: rgb(92, 54, 209);
    background: linear-gradient(0deg, rgb(63, 24, 126) 0%, rgb(20, 50, 107) 100%);
}

.navbar-dark .navbar-toggler {
    border: none
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler:focus {
    outline:none;
}

@media (max-width: 992px) {
    .navbar {
        background-color: white;
        padding-top: 0.2em !important;
        padding-bottom: 0.2em !important;
        padding-left: 1em !important;
        padding-right: 1em !important;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15)!important
    }

    .navbar-brand {
        color:rgb(71, 42, 158) !important;
        font-size: 24px
    }

    .nav-link {
        color:rgb(71, 42, 158)  !important
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(71, 42, 158) ' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }
}

.navbar.scrolled {
    background-color: white !important;
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15)!important
}

.navbar.scrolled .navbar-brand {
    color:rgb(71, 42, 158) !important;
    font-size: 24px
}

.navbar.scrolled .nav-link {
    color:rgb(71, 42, 158)  !important
}